<nav class="navbar navbar-toggleable-md navbar-light fixed-top" > <!-- bg-faded -->

    <a class="navbar-brand" href="#">
        <img src="imagens/logo2.png" width="160px" height="80px" alt="" href="#">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>

        <ul class="navbar-nav mr-auto mr-sm-2">
            <li class="nav-item active" >
                <a class="nav-link list-group-item-action" href="#">Projects</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="#">Abouts Us</a>
            </li>

            <li class="nav-item active" >
                <a class="nav-link" href="#">News</span></a>
            </li>

            <li class="nav-item active" >
                <a class="nav-link" href="#">Inovation Space</a>
            </li>

            <li class="nav-item active" >
                <a class="nav-link" href="#">Contact</a>
            </li>

        </ul>
    </div>
</nav>

