<nav class="navbar navbar-toggleable-md navbar-light fixed-top" > <!-- bg-faded -->

    <a class="navbar-brand" href="#">
        <img src="imagens/logo2.png" width="160px" height="80px" alt="" href="#">
    </a>

    <div class="collapse navbar-collapse menu-itens" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>

        <ul class="navbar-nav mr-auto mr-sm-2">
            <li class="nav-item active" >
                <a id="mello" class="" href="#projects">Projects</a>
            </li>

            <li class="nav-item active">
                <a class="" href="#">Abouts Us</a>
            </li>

            <li class="nav-item active" >
                <a class="" href="#">News</a>
            </li>

            <li class="nav-item active" >
                <a class="" href="#">Inovation Space</a>
            </li>

            <li class="nav-item active" >
                <a class="" href="#">Contact</a>
            </li>

        </ul>
    </div>
</nav>

