<div id="pageheader_inovation" class="bd-pageheader">
    <div class="container" style="">
        <h2 style="color: black; font-size: 50px">{{mv.inovationSpace.title}}</h2>
    </div>
</div>

<div id="pageheader_image_inovation" class="bd-pageheader" style="background-image: url({{mv.inovationSpace.photos.photo1}})">

</div>
<br>
<div class="container">
    <div class="row" style="">
        <div id="col_projects" class="col-md-6" >
            <p>
                {{mv.inovationSpace.text.paragraph1}}
            </p>
        </div>
        <div id="col_projects2" class="col-md-6" >
            <p>
                {{mv.inovationSpace.text.paragraph2}}
            </p>
        </div>
    </div>
</div>