
<div id="pageheader_news" class="bd-pageheader">
    <div class="container" style="">
        <h2 style="color: black; font-size: 50px">{{mv.newscontroller.title}}</h2>
    </div>
    <br>

    <div class="container">
        <div class="row" style="">
            <div id="col_news" class="col-md-6" >
                <p>
                    {{mv.newscontroller.text.paragraph1}}
                </p>
            </div>
            <div id="col_news2" class="col-md-6" >
                <img class="d-block img-fluid" src={{mv.newscontroller.photos.photo2}} >
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row" style="">
            <div id="col_news2" class="col-md-6" >
                <img class="d-block img-fluid" src={{mv.newscontroller.photos.photo1}} >
            </div>

            <div id="col_news" class="col-md-6" >
                <p>
                    {{mv.newscontroller.text.paragraph2}}
                </p>
            </div>
        </div>
    </div>

</div>